<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Leaflet OpenStreetMap -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    <link rel="stylesheet" href="style.css" />
    <title>Projekt_01</title>

</head>

<body>
    <p><b>Username: </b><span id="ime"><%= name %></span></p>
    <p><b>Email: </b><span id="email"><%= email %></span></p>
    <p><b>Login time: </b><span id="time"><%= time %></span></p>

    <p id="status"></p>
    <p id="latlong"></p>
    <div id="map"></div>
    <a href="<%= url %>/login">Log in</a>
    <a href="<%= url %>/logout">Log out</a>
    <div id="status2" name="status2">Status Message</div>


    <script src="/js/indexAuth.js" data-name="<%= name %>" data-email="<%= email %>" data-time="<%= time %>"></script>
</body>

</html>