<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Leaflet OpenStreetMap -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    <link rel="stylesheet" href="style.css" />
    <title>Projekt_01</title>

</head>

<body>
    <h1>Hello user</h1>
    <p id="status"></p>
    <p id="latlong"></p>
    <div id="map"></div>
    <a href="<%= url %>/login">Log in</a>
    <a href="<%= url %>/logout">Log out</a>
    <div id="status2" name="status2">Status Message</div>


    <script>
        const status = document.querySelector('#status');
        const latlong = document.querySelector('#latlong');

        // Dohvat lokacije
        if (!navigator.geolocation) {
            status.textContent = 'Geolocation is not supported by your browser';
        } else {
            navigator.geolocation.getCurrentPosition(success, error);
        }

        function success(position) {
            //Izrada mape, markera i tileova
            const mymap = L.map('map').setView([0, 0], 1);
            const marker = L.marker([0, 0]).addTo(mymap);
            const tileUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
            const attribution =
                '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';
            const tiles = L.tileLayer(tileUrl, {
                attribution
            });
            tiles.addTo(mymap);

            //Dodavanje teksta lat i long
            const latitude = position.coords.latitude;
            const longitude = position.coords.longitude;
            const zoom = 13;
            latlong.textContent = `Latitude: ${latitude} °, Longitude: ${longitude} °`;
            mymap.setView([latitude, longitude], zoom);

            //Dodavanje markera
            marker.setLatLng([latitude, longitude]);
        }

        function error() {
            status.textContent = 'Unable to retrieve your location';
        }
    </script>
</body>

</html>